body {
    color: blue;
}

header {
    text-align:center;
    margin-top:30px;
}

.task-done {
    background-color: lightgreen;        
}
.task-done > p {
    text-decoration: line-through;
}
.emptyMsg {
    color:red;
}

.list {
    margin:0;
    padding:0;
    width:500px;
}

.list__item {
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    width:100%;    
}

.list__item > p {
    margin :0 10px;
    flex-grow: 1;
}

.list__item > button {
  
}

.app__main {
    background-color: #F5F5F5;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    margin:0 auto;   
}

.main__create {
    margin-bottom: 30px;
    width: 500px;
    display: flex;    
}

.create__field{
    flex-grow: 1;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #4c77fb;
    background-color: white;
}

.list__info{
    font-size: 18px;
}

/* botones */
.create__btn {
    border-radius: 8px;
    border: none;
    width: 50px;
    height: 50px;
    line-height: 0;
    color: white;
    font-size: 30px;
    background-color: #4c77fb;
    margin-left: 20px;
}

.create__btn:hover {
    background: #2a448f;
    transform: scale(.95);
}

.delete__btn {
    color: white;
    border:none;
    border-radius: 4px;
    line-height: 0;
    width:20px;
    height: 20px;
    font-weight: 500;
    font-size: 24px;
    background-color:  #7b8fca;
}

.delete__btn:hover {
    background: #2a448f;
    transform: scale(.95);
}